*.blend filter=lfs diff=lfs merge=lfs -text
Horizon.blend filter=lfs diff=lfs merge=lfs -text
Scenes/Q4_constructions-landfill-dji-mavic-3-photoscan_V1.blend filter=lfs diff=lfs merge=lfs -text
Avatars/Digging_Mixamo_V2.blend filter=lfs diff=lfs merge=lfs -text
Empty.blend filter=lfs diff=lfs merge=lfs -text
